@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-size: 18px;
  font-family: var(--font-lato);
  background-color: #120E16;
  /* color-scheme: dark; */
  color: #F6F6F7;
}
